.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#container {
    display: flex;
    justify-content: center;
}
#scratchpad {
    border: 1px solid black;
    padding: 0;
    box-sizing: border-box;
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
}